.js-animation,
.section_title,
.section_subtitle {
    opacity: 0;
    transform: scale(0.5);
    transition: .5s $easing opacity,
                .5s $easing transform;

    &.animated {
        opacity: 1;
        transform: scale(1);
    }
}
