.cookies {
    background: url(#{$img}/cookies-bg.png) no-repeat center / 100% 100%;
    position: fixed;
    z-index: 9;
    bottom: $indent;
    right: $indent;
    padding:  45px 42px 20px;
    box-sizing: border-box;
    text-align: center;
    width: 247px;
    height: 296px;
    display: none;
    @include tablet {
        bottom: 40px;
        right: 80px;
        padding: 40px;
    }


    &_text {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.3;
        letter-spacing: 0.5px;
        color: #5F4536;

        p {
            margin-bottom: 14px;
        }
    }
    &_button {
        margin: 0 0 10px;
    }
    &_link {
        color: #5F4536;
        font-size: 14px;
        line-height: 20px;
        text-transform: uppercase;
    }
}
