.faq {
    text-align: left;
    margin: 0 0 45px;
    position: relative;
    z-index: 3;
    @include tablet {
        margin-bottom: 65px;
    }
    @include desktop {
        display: flex;
        gap: 36px;
        margin: 0;
        padding: 0 0 230px;
    }

    .results-page & {
        @include desktop {
            padding: 0 0 330px;
        }
    }

    &_column {
        @include desktop {
            flex-grow: 1;
            width: 50%;
        }
    }
    &_item {
        user-select: none;
    }
    &_header {
        cursor: pointer;
        display: block;
        font-size: 22px;
        line-height: 28px;
        padding: 28px 40px 24px 0;
        border-bottom: 2px solid rgba(174, 189, 216, 0.2);
        position: relative;
        transition: .2s $easing opacity, .1s $easing border;
        text-transform: capitalize;
        user-select: none;
        @include tablet {
            padding: 25px 40px 27px 0;
        }

        &:hover {
            opacity: .6;
        }
        &:active {
            opacity: .8;
        }

        .opened & {
            border-bottom-color: transparent;
        }
    }
    &_header-arrow {
        background: url(#{$img}/faq-arrow.svg) no-repeat center / contain;
        height: 32px;
        width: 32px;
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -16px;
        transform-origin: center;
        pointer-events: none;
        transition: .4s linear transform;

        .opened & {
            transform: rotate(-180deg);
        }
    }
    &_content {
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        overflow: hidden;
        max-height: 0;
        @include tablet {
            transition: .4s ease max-height;
        }

        .opened & {
            max-height: 500px;
            @include tablet {
                max-height: 150px;
            }
        }
    }
    &_radio {
        position: absolute;
        visibility: hidden;
        pointer-events: none;
    }
}
