@mixin play($frames, $width, $length) {
    animation: frames-#{$width} $length steps($frames, end) infinite;

    @keyframes frames-#{$width} {
        to {
            background-position-x: -#{$width * $frames}px;
        }
    }
}

.person {

    &__pumpkin {
        width: 184px;
        height: 289px;
        background: url(#{$img}/pumpkin-king.png) no-repeat center / contain;
        margin: auto;
        @include desktop {
            width: 244px;
            height: 383px;
        }
    }
    &__warrior {
        @include play(45, 303, 1.5s);
        width: 303px;
        height: 233px;
        background: url(#{$img}/warrior.png) no-repeat top left / auto 100%;
    }
    &__morrigen {
        @include play(60, 202, 2s);
        width: 202px;
        height: 241px;
        margin: auto;
        background: url(#{$img}/morrigen.png) no-repeat top left / auto 100%;
    }
    &__demon {
        @include play(60, 356, 2s);
        width: 356px;
        height: 312px;
        margin: auto;
        background: url(#{$img}/demon.png) no-repeat top left / auto 100%;
    }
}


