.person {

    &__pumpkin {
        width: 184px;
        height: 289px;
        background: url(#{$img}/pumpkin-king.png) no-repeat center / contain;
        margin: auto;
        @include desktop {
            width: 244px;
            height: 383px;
        }
    }
    &__warrior {
        width: 277px;
        height: 192px;
        background: url(#{$img}/warrior.png) no-repeat center / contain;
        @include desktop {
            width: 387px;
            height: 267px;
        }
    }
    &__magician {
        width: 158px;
        height: 271px;
        margin: auto;
        background: url(#{$img}/magician.png) no-repeat center / contain;
    }
    &__demon {
        width: 312px;
        height: 357px;
        margin: auto;
        background: url(#{$img}/demon.png) no-repeat center / contain;
    }
}
