.showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    position: relative;
    @include tablet {
        //height: 2500px;
    }

    .portal-show &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50vh;
        z-index: 2;
    }

    &_content {
        @include layout;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &_info {
        margin-top: 600px;
        text-align: center;
        position: relative;
        z-index: 2;
        font-weight: 700;
        font-size: 22px;
        line-height: 28px;
        color: #25A8DE;
        max-width: 425px;
    }
    &_info-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 42px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #D8A063;
        margin: 0 0 22px;
    }

    h2 {
        margin-top: 150px;
        @include tablet {
            margin-top: 170px;
        }
        @include desktop {
            margin-top: 250px;
        }
    }
    #main {
        width: 100%;
    }
}
