.showcase {
    position: relative;
    z-index: 1;

    &_image {
        display: block;
        width: 100%;
    }
    &_content {
        position: absolute;
        top: 30px;
        left: 30px;
        right: 30px;
        bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        @include tablet {
            width: 600px;
            right: auto;
            left: 50%;
            margin-left: -300px;
        }
    }
    &_caption {
        font-size: 12px;
        line-height: 140%;
        color: #26262666;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        text-align: center;
        @include tablet {
            text-align: right;
            left: auto;
            right: 24px;
            bottom: 24px;
        }

        p {
            margin: 0;
        }
    }
}
