.steps {
    position: relative;
    @include desktop {
        padding: 0 135px 135px;
    }

    &_holder {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @for $i from 0 to 5 {
            & > div:nth-child(#{$i + 1}) {
                transition-delay: 0.1s * $i;
            }
        }
    }
    &_divider {
        display: none;
        @include tablet {
            display: block;
            background: url(#{$img}/step-arrow.png) no-repeat center / cover;
            width: 46px;
            height: 24px;
            margin-top: -80px;
        }
    }
}

.step {
    text-align: center;
    margin: 0 0 40px;
    @include tablet {
        flex-grow: 1;
        width: 25%;
        margin: 0;
    }

    &_icon-wrapper {
        position: relative;
        width: 164px;
        height: 164px;
        margin: auto;
    }
    &_icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        max-width: 300%;
    }
    &_title {
        font-family: $font-family__heading;
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: 1px;
        color: #CDD6E7;
        display: block;
        margin-bottom: 20px;
        @include desktop {
            font-size: 28px;
            line-height: 1.14;
        }
    }
    &_text {
        font-size: 14px;
        line-height: 1.43;
        letter-spacing: 0.5px;
        color: rgba(#CDD6E7, .5);
        text-transform: uppercase;
    }
}
