.form {
    max-width: 480px;
    margin: 0 auto 170px;
    @include desktop {
        margin-bottom: 140px;
    }

    &_row {
        margin: 0 0 46px;
        position: relative;

        &::after {
            content: '';
            background: url(#{$img}/error-glow.png) no-repeat center / cover;
            width: 371px;
            height: 67px;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -185px;
            pointer-events: none;
            opacity: 0;
            transition: .2s $easing opacity;
        }
        &.error::after {
            opacity: 1;
        }
    }
    &_submit[type] {
        @include button-reset;
        background: url(#{$img}/submit-button.png) no-repeat center / cover;
        width: 212px;
        height: 68px;
        color: transparent;
        filter: saturate(1);
        transition: .2s $easing filter;

        &:hover {
            filter: saturate(2);
        }
        &:active {
            filter: saturate(1.2);
        }
    }
    &_error {
        font-size: 18px;
        line-height: 24px;
        color: $cRed;
        position: absolute;
        left: 0;
        bottom: -36px;
        display: none;

        .error & {
            display: block;
        }
    }
    
}
